
.animated-shells g {
    opacity: 0;
    animation: appear 1s calc((var(--i) + 1) * 0.2s) cubic-bezier(0.25, 1, 0.5, 1) forwards;
}

.animated-shells path {
    opacity: 0.2;
}

.animated-shells .shell-glow {
    opacity: 0;
    transform: translate3d(0, 0, 0);
    filter: drop-shadow(0 0 12px white);
    animation: glow 4s calc((var(--i) + 2) * 0.2s) linear infinite;
}

@media (prefers-reduced-motion) {
    .animated-shells g {
    opacity: 1;
    animation: none;
    }
}

@keyframes appear {
    from {
    transform: translateY(18px);
    opacity: 0;
    }

    to {
    transform: translateY(0px);
    opacity: 1;
    }
}

@keyframes glow {

    0%,
    50%,
    100% {
    opacity: 0;
    }

    10% {
    opacity: 1;
    }
}
