@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@500&family=Share+Tech+Mono&display=swap');

html {
    scroll-behavior: smooth;
    width: 1783px;
}

:root {
    --font-family: 'Mulish', system-ui,“Helvetica Neue”,Arial,sans-serif;
    --color: #fff;
}

body {
    margin: 0;
    padding: 0;
    color: #181A1C;
    font-size: 18px;
    font-weight: 700;
    font-family:var(--font-family);
}

.App {
    margin: 0;
    padding: 0;
}
